@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}

.center{
    display: flex;
    align-items: center;
    // flex-direction: row;
    // width: 100%;
    // margin: auto;
}

.logo{
    padding-top: 5rem;
    margin: auto;
}

.hero-section{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content:space-between;
    align-items:center;
    width: 100vw;
    overflow: hidden;
}

.hero-section-img-01-container{

    // margin-left: 0;
    float: left;
}

// .hero-section-img-02-container{
//     float: right;
// }

.hero-section-img{
    position: relative;
}

.hero-section-img-01{
    left: -3.5625rem;
}

.hero-section-img-02{
    right: -3.5625rem;
}


.hero-section-content{
    text-align: center;

    h1{
        font-size: 4rem;
        font-weight: 700;
        color: #28283D;
        padding: 0 2rem;
    }

    p{
        font-size: 1.1rem;
        color: #87879D;
        padding: 2.2rem 0;
    }
}

.hero-section-btn{
    button{
        border: none;
        color: #fff;
        padding: 16px 40px;
        border-radius: 29px;
        cursor: pointer;
        outline: none;
        font-weight: 700;
        font-size: 1rem;

        span{
            font-size: 0.9rem;
            color: #8FE3F9;
        }

        // &:nth-child(1),
        // &:nth-child(2){
        //     position: relative;
        // }

        &:nth-child(1){
            background-color: #4D96A9;
            // left: 2px;
        }

        &:nth-child(2){
            background-color: #855FB1;
        }
    }
}

// .number{
//     margin-top: 45px;
//     // padding: 1rem;
//     border-radius: 50%;
//     // display: flex;
//     // align-items: center;
//     margin-left: auto;
//     p{
//         text-align: center;
//         border: 1px solid rgba(135, 135, 157, 0.25);
//         padding: 14px 18px;
//         border-radius: 50%;
//         width: 1rem;
//         height: 1rem;
//     }
// }

.number-section{
    margin-top: 45px;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    // flex-direction: colu;

    .number{
        margin-left: auto;
        margin-right: auto;

        // p{
            // 
        // }

    }

    .number::before{
        content: ' ';
        width: 100%;
        height: 100%;
        // background-color: rgba(135, 135, 157, 0.25);
        border-top: 1px solid #000;
        position: absolute;
        top: 0;
        left: 0;
    }
}