@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

// Variables
$main-white: #fff;
$secondary-white: #FAFAFA; // for number 2 bg-color
$main-grey: #87879D; //for paragraph
$grey-number: rgb(135, 135, 157); //grey for number
$secondary-grey: rgba(135, 135, 157, 0.25); // for number border
$third-grey: #979797; //for img background
$main-blue: #28283D; //for heading
$main-light-blue: #4D96A9; //btn
$secondary-light-blue: #71C0D4; //btn hover
$third-light-blue: #8FE3F9; //btn span
$fourth-light-blue: rgba(77, 150, 168, 0.9); // footer bg color
$main-purple: #855FB1; //btn
$secondary-purple: #B18BDD; //btn hover
$main-radius: 12px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}

.center{
    display: flex;
    align-items: center;
    // flex-direction: row;
    // width: 100%;
    // margin: auto;
}

.logo{
    padding-top: 5rem;
    margin: auto;
}

/* Start of hero section */

.hero-section{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    overflow: hidden;
}

.hero-section-img-01-container{

    // margin-left: 0;
    float: left;
}

// .hero-section-img-02-container{
//     float: right;
// }

.hero-section-img{
    position: relative;
}

.hero-section-img-01{
    left: -3.5625rem;
}

.hero-section-img-02{
    right: -3.5625rem;
}


.hero-section-content{
    text-align: center;

    h1{
        font-size: 4rem;
        font-weight: 700;
        color: $main-blue;
        padding: 0 2rem;
    }

    p{
        font-size: 1.1rem;
        color: $main-grey;
        padding: 2.2rem 0;
    }
}

.hero-section-btn{
    button{
        border: none;
        color: #fff;
        padding: 16px 40px;
        border-radius: 29px;
        cursor: pointer;
        outline: none;
        font-weight: 700;
        font-size: 1rem;

        span{
            font-size: 0.9rem;
            color: #8FE3F9;
        }

        // &:nth-child(1),
        // &:nth-child(2){
        //     position: relative;
        // }

        &:nth-child(1){
            background-color: #4D96A9;
            // left: 2px;
        }

        &:nth-child(2){
            background-color: #855FB1;
        }
    }
}

/* End of hero section */

.number-section{
    margin-top: 185px;
    width: 100%;
    min-height: 100px;
    height: auto;
    height: auto;
    display: flex;
    align-items: center;
    // flex-direction: colu;

    .number{
        margin-left: auto;
        margin-right: auto;
        // margin-top: 15px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $secondary-grey;
        border-radius: 50%;
        position: relative;

        p{
            // border: 1px solid $secondary-grey;
            color: $grey-number;
            font-weight: 600;
            // padding: 15px;
            // border-radius: 50%;
            
        }

    }

    .number::before{
        content: ' ';
        width: 85px;
        // height: 1px;
        // background-color: rgba(135, 135, 157, 0.25);
        border-top: 1px solid $secondary-grey;

        position: absolute;
        bottom: 95px;
        transform: rotate(90deg);
        // left: 0;
    }
}

/* Start of chat section */
.chat-section-container{
    width: 100%;
    height: auto;
    margin-top: 55px;

    .chat-section{
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 250px;

        .chat{
            width: auto;
            height: auto;
            border-radius: $main-radius;
            padding: 0 15px;

            img{
                width: 250px;
                height: auto;
                border-radius: $main-radius;
            }

        }
    }
}
/* End of chat section */

/* Start of description */
/* End of description */
