@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

.responsive{
  display: none
}

.center {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5rem;
  margin: auto;
}

/* Start of hero section */
.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hero-section-img-01-container {
  float: left;
}

.hero-section-img {
  position: relative;
}

.hero-section-img-01 {
  left: -3.5625rem;
}

.hero-section-img-02 {
  right: -3.5625rem;
}

.hero-section-content {
  text-align: center;
}

.hero-section-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #28283D;
  padding: 0 2rem;
}

.hero-section-content p {
  font-size: 1.1rem;
  color: #87879D;
  padding: 2.2rem 0;
}

.hero-section-btn button {
  border: none;
  color: #fff;
  padding: 16px 40px;
  border-radius: 29px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
}

.hero-section-btn button span {
  font-size: 0.9rem;
  color: #8FE3F9;
}

.hero-section-btn button:nth-child(1) {
  background-color: #4D96A9;
  margin-right: 15px;
}

.hero-section-btn button:nth-child(1):hover {
  background-color: #71C0D4;
}

.main-btn {
  border: none;
  color: #fff;
  padding: 16px 40px;
  border-radius: 29px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: #855FB1;
}

.main-btn span {
  font-size: 0.9rem;
  color: #D9B8FF;
}

.main-btn:hover {
  background-color: #B18BDD;
}

/* End of hero section */
.number-section {
  margin-top: 185px;
  width: 100%;
  min-height: 100px;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.number-section .number {
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  position: relative;
}

.number-section .number p {
  color: #87879d;
  font-weight: 600;
}

.number-section .number::before {
  content: ' ';
  width: 85px;
  border-top: 1px solid rgba(135, 135, 157, 0.25);
  position: absolute;
  bottom: 95px;
  transform: rotate(90deg);
}

/* Start of chat section */
.chat-section-container {
  width: 100%;
  height: auto;
  margin-top: 55px;
}

.chat-section-container .chat-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 250px;
}

.chat-section-container .chat-section .chat {
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 0 15px;
}

.chat-section-container .chat-section .chat img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  background-color: #979797;
}

/* End of chat section */
/* Start of description */
.description-section {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 85px;
}

.description-section h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #4D96A9;
}

.description-section h1 {
  font-size: 40px;
  line-height: 42px;
  color: #28283D;
  margin-top: 25px;
  margin-bottom: 35px;
}

.description-section P {
  color: #87879D;
  font-size: 18px;
}

.description-section p:not(last-child) {
  margin-bottom: 25px;
}

/* End of description */
.number-02 {
  background-color: #FAFAFA;
  transform: translateY(50px);
}

/* Start of footer */
.footer-container {
  width: 100%;
  height: 310px;
  background-color: rgba(77, 150, 168, 0.9);
  padding: 0 235px;
}

.footer-container .footer {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../images/desktop/image-footer.jpg") no-repeat center/cover;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-container .footer h1 {
  font-size: 40px;
}

.footer-container .footer p {
  font-size: 18px;
  margin: 0 145px;
}

.footer-container .footer p:not(:last-child) {
  margin-bottom: 25px;
}

.footer-container .footer .main-btn {
  font-size: 12px;
  padding: 22px 50px;
}

.footer-container .footer .main-btn span {
  font-size: 10px;
}
/* End of footer */
/* Media Queries */
@media (max-width: 1900px) {
    .main-container{
      display: none;
    }

    .responsive{
        display: block !important;
    }
}
