@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.center {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 5rem;
  margin: auto;
}

/* Start of hero section */
.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hero-section-img-01-container {
  float: left;
}

.hero-section-img {
  position: relative;
}

.hero-section-img-01 {
  left: -3.5625rem;
}

.hero-section-img-01-responsive {
  display: none;
}

.hero-section-img-02 {
  right: -3.5625rem;
}

.hero-section-content {
  text-align: center;
}

.hero-section-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #28283d;
  padding: 0 2rem;
}

.hero-section-content p {
  font-size: 1.1rem;
  color: #87879d;
  padding: 2.2rem 0;
}

.hero-section-btn button {
  border: none;
  color: #fff;
  padding: 16px 40px;
  border-radius: 29px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.5s;
}

.hero-section-btn button span {
  font-size: 0.9rem;
  color: #8fe3f9;
}

.hero-section-btn button:nth-child(1) {
  background-color: #4d96a9;
  margin-right: 15px;
  transition: 0.5s;
}

.hero-section-btn button:nth-child(1):hover {
  background-color: #71c0d4;
}

.main-btn {
  border: none;
  color: #fff;
  padding: 16px 40px;
  border-radius: 29px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: #855fb1;
  transition: 0.5s;
}

.main-btn span {
  font-size: 0.9rem;
  color: #d9b8ff;
}

.main-btn:hover {
  background-color: #b18bdd;
}

/* End of hero section */
.number-section {
  margin-top: 185px;
  width: 100%;
  min-height: 100px;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.number-section .number {
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  position: relative;
}

.number-section .number p {
  color: #87879d;
  font-weight: 600;
}

.number-section .number::before {
  content: " ";
  width: 85px;
  border-top: 1px solid rgba(135, 135, 157, 0.25);
  position: absolute;
  bottom: 95px;
  transform: rotate(90deg);
}

/* Start of chat section */
.chat-section-container {
  width: 100%;
  height: auto;
  margin-top: 55px;
}

.chat-section-container .chat-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 250px;
}

.chat-section-container .chat-section .chat {
  width: auto;
  height: auto;
  border-radius: 12px;
  margin: 15px;
}

.chat-section-container .chat-section .chat img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  background-color: #979797;
}

/* End of chat section */
/* Start of description */
.description-section {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 85px;
}

.description-section h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #4d96a9;
}

.description-section h1 {
  font-size: 40px;
  line-height: 42px;
  color: #28283d;
  margin-top: 25px;
  margin-bottom: 35px;
}

.description-section P {
  color: #87879d;
  font-size: 18px;
}

.description-section p:not(last-child) {
  margin-bottom: 25px;
}

/* End of description */
.number-02 {
  background-color: #fafafa;
  transform: translateY(50px);
}

/* Start of footer */
.footer-container {
  width: 100%;
  height: 310px;
  background-color: rgba(77, 150, 168, 0.9);
}

.footer-container .footer {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../images/desktop/image-footer.jpg") no-repeat center/cover;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-container .footer h1 {
  font-size: 40px;
}

.footer-container .footer p {
  font-size: 18px;
  margin: 0 145px;
}

.footer-container .footer p:not(:last-child) {
  margin-bottom: 25px;
}

.footer-container .footer .main-btn {
  font-size: 12px;
  padding: 22px 50px;
}

.footer-container .footer .main-btn span {
  font-size: 10px;
}

/* End of footer */
/* Media Queries */
@media (min-width: 1921px) {
  body {
    width: 1920px;
    margin: auto;
  }
}

@media (max-width: 1600px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section-img-01-container {
    flex-direction: row;
    margin-bottom: 55px;
  }
  .hero-section-img-01-container img {
    margin: 15px 0;
  }
  .hero-section-img {
    position: static;
  }
  .hero-section-img-02 {
    display: none;
  }
  .hero-section-img-01-responsive {
    display: inline;
  }
  .number-section {
    margin-top: 100px;
  }
}

@media (max-width: 1260px) {
  .footer-container {
    height: auto;
  }
  .footer-container .footer {
    flex-direction: column;
    text-align: center;
    padding: 75px 0;
  }
  .footer-container .footer p {
    margin: 25px 0;
  }
}

@media (max-width: 868px) {
  .hero-section-img-01-container img {
    width: 200px;
    height: auto;
    margin: 5px;
  }
  .hero-section-content h1 {
    font-size: 40px;
  }
  .hero-section-content p {
    width: 80%;
    margin: auto;
  }
  .hero-section-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .hero-section {
    width: 100%;
  }
  .hero-section-img-01-container img {
    width: 120px;
    height: auto;
    margin: 5px;
  }
  .hero-section-content h1 {
    font-size: 30px;
  }
  .hero-section-content p {
    width: 80%;
    margin: auto;
  }
  .hero-section-btn {
    flex-direction: column;
  }
  .hero-section-btn button {
    width: 50%;
    margin: 10px auto;
    font-size: 14px;
  }
  .hero-section-btn button:nth-child(1) {
    margin-right: auto;
  }
  .chat-section-container .chat-section {
    padding: 0;
    margin: auto;
  }
  .description-section h1 {
    font-size: 30px;
    width: 90%;
    margin: 15px auto;
  }
  .description-section p {
    width: 80%;
    margin: auto;
    line-height: 32px;
  }
  .description-section br {
    display: none;
  }
  .footer-container .footer h1 {
    font-size: 30px;
  }
  .footer-container .footer p {
    width: 80%;
    line-height: 32px;
  }
}

@media (max-width: 350px) {
  .chat-section-container .chat-section .chat img {
    width: 150px;
  }
}
